body {
  overflow-y: hidden;
}

textarea {
  resize: vertical;
}

#errorHandler {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

#errorHandler.active {
  bottom: 30px;
}

#errorMessage {
  position: relative;
  left: -50%;
  border-radius: 10px;
  background: #dd2200dd;
  padding: 15px 30px;
  max-width: 400px;
  text-align: center;
  color: #fff;
}

.list-scrollable {
  overflow-y: auto;
  height: calc(100vh - 310px);
  padding-bottom: 20px;
}

.image-container {
  width: 50px;
}

.game-image {
  margin: auto;
  width: 75px;
}
