<div class="container">
  {{#if notAuthorised}}
    <h1 class="text-center text-warning">Vous n'êtes pas autorisé à accéder à cette page !</h1>
  {{else}}
    <h1 class="text-center text-warning">Une connexion existe déjà !</h1>
  {{/if}}
</div>
