<!DOCTYPE html>
<html ng-app="gameMasterApp">
<head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    ></link>
    <meta charset="utf-8">
    <title>Escapeornot : Interface Maître du Jeu</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/angular.js"></script>
    <script src="./js/angular-animate.js"></script>
    <link rel="stylesheet" href="./style.css"></link>
</head>
<body>
  <div class="container">
    <div class="text-center">
      <img width="200" src="/static-images/logo.png" />
    </div>

    <div class="row">
      <div class="col-sm-6" ng-controller="MessageFormController">
        <div class="form-group">
          <h4 class="control-label">Envoyer un message</h4>
          <textarea ng-model="message" ng-keyup="onKeyUp($event)" class="form-control" id="messageContent" rows="3">
          </textarea>
        </div>
        <p>
          <button class="btn btn-default" id="sendButton" ng-click="sendMessage()">Envoyer</button>
        </p>

      </div>

      <div class="col-sm-6" id="timerController" ng-controller="CountDownController">
        <h4>Compte à rebours</h4>
        <h3 id="timerDisplay">{{timerDisplay}}</h3>
        <button class="btn btn-default" id="timerButton" ng-click="toggleTimer()">{{timerButton}}</button>
        <button class="btn btn-danger" id="resetTimerButton" ng-click="resetTimer()">Réinitialiser</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6" ng-controller="MessageHistoryController">
        <h4>Historique des messages <div class="btn btn-xs btn-link" ng-click="clearHistory()">(Effacer)</div></h4>
        <ul id="messages-history" class="list-unstyled list-scrollable">
          <li ng-repeat="message in messages"><b>{{formatTime(message.time)}}</b> : {{message.text}}</li>
        </ul>
      </div>
      <div class="col-sm-6" ng-controller="ImagesListController">
        <h4>Liste des photos disponibles</h4>
        <div class="list-scrollable">
            <div ng-repeat="image in images" class="media">
              <div class="media-left image-container">
                <a role="button" ng-click="sendImage(image.encoded)">
                  <img class="media-object game-image" ng-src="{{image.url}}" alt="{{image.display}}">
                </a>
              </div>
              <div class="media-body">
                {{image.display}}
                <button class="btn btn-link btn-image pull-right" ng-click="sendImage(image.encoded)">Envoyer</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div id="errorHandler" ng-controller="ErrorMessageController" ng-class="{selected: displayErrorBox === true}"><div id="errorMessage">{{errorMessage}}</div></div>
</body>

<script>
/* global io angular */
const socket = io();
var gameMasterApp = angular.module('gameMasterApp', ['ngAnimate']);

gameMasterApp.factory('errorMessageService', function($rootScope) {
  var errorMessageService = {};

  errorMessageService.showError = function(error) {
    $rootScope.$broadcast('showError', error);
  };

  return errorMessageService;
});

gameMasterApp.controller('ErrorMessageController', ['$scope', 'errorMessageService', function ErrorMessageController($scope, errorMessageService) {
  $scope.displayErrorBox = false;

  $scope.$on('showError', (evt, error) => {
    $scope.displayErrorBox = true;
    console.log('error thrown', error);
  });

  socket.on('message error', function(error) {
    errorMessageService.showError(error);
  });
}]);

gameMasterApp.controller('MessageFormController', ['$scope', 'errorMessageService', function MessageFormController($scope, errorMessageService) {
  $scope.message = '';

  $scope.onKeyUp = function(evt) {
    if (evt.ctrlKey && evt.keyCode === 13) {
      $scope.sendMessage();
    }
  }

  $scope.sendMessage = function() {
    if (!$scope.message) {
      return;
    }
    socket.emit('send message', $scope.message, function(error) {
      if (error) {
        errorMessageService.showError(error);
      } else {
        $scope.$apply(function() {
          $scope.message = '';
        });
      }
    });
  };
}]);

gameMasterApp.controller('MessageHistoryController', ['$scope', '$http', function MessageHistoryController($scope, $http) {
  $scope.messages = [];

  $http.get('/messages-list').then(function (response) {
    if (response.status === 200) {
      $scope.messages = response.data;
    }
  });

  socket.on('messages updated', function(messages) {
    $scope.$apply(function() { $scope.messages = messages; });
  });

  $scope.formatTime = function(time)  {
    if (!time) {
      return '';
    }

    var dateTime = new Date(time);

    return `${dateTime.getHours()}:${
      dateTime.getMinutes() < 10 ? '0' : ''
    }${dateTime.getMinutes()}:${
      dateTime.getSeconds() < 10 ? '0' : ''
    }${dateTime.getSeconds()}`;
  };

  $scope.clearHistory = function() {
    socket.emit('clear history', function() {
      $scope.$apply(function() {
        $scope.messages = [];
      });
    });
  };
}]);

gameMasterApp.controller('CountDownController', ['$scope', 'errorMessageService', function CountDownController($scope, errorMessageService) {
  $scope.timerDisplay = '01:00:00';
  $scope.isTimerRunning = false;
  $scope.timerButton = 'Démarrer le compte à rebours';

  var setRemainingTime = function(remainingTime) {
    let sec = remainingTime % 60;
    sec = sec < 10 ? `0${sec}` : sec;
    let min = Math.floor((remainingTime / 60) % 60);
    min = min < 10 ? `0${min}` : min;
    let hours = Math.floor(remainingTime / 3600);
    hours = hours < 10 ? `0${hours}` : hours;
    $scope.timerDisplay = `${hours}:${min}:${sec}`;
  };

  socket.on('app timer updated', function(remainingTime) {
    $scope.$apply(setRemainingTime(remainingTime));
  });

  $scope.toggleTimer = function() {
    socket.emit('toggle timer', function(error) {
      if (error) {
        errorMessageService.showError(error);
        return;
      }
    });

    $scope.isTimerRunning = !$scope.isTimerRunning;
    $scope.timerButton = $scope.isTimerRunning
      ? 'Arrêter le compte à rebours'
      : 'Démarrer le compte à rebours';
  };

  $scope.resetTimer = function() {
    socket.emit('reset timer');
    $scope.isTimerRunning = false;
    $scope.timerButton = 'Démarrer le compte à rebours';
  };
}]);

gameMasterApp.controller('ImagesListController', ['$scope', '$http', 'errorMessageService', function ImagesListController($scope, $http, errorMessageService) {
  $scope.images = [];

  $http.get('/images-list').then(function(response) {
    if (response.status === 200) {
      $scope.images = response.data;
    }
  });



  $scope.sendImage = function(imageName) {
    if (typeof imageName !== 'string') {
      errorMessageService.showError('Nom d\'image invalide');
      return;
    }
    socket.emit('send image', imageName);
  };
}]);
</script>
</html>
